<div class="container">
  <div class="row pt-md-3">
    <ul>
      <div class="d-flex flex-wrap">
        <div  class="col-lg-9 col-md-8 px-0">
          <app-media-list [articles$]="articles$"></app-media-list>
        </div>
        <div id="content-sidebar" class="col-lg-3 col-md-4">    
          <input class="form-control" type="text" placeholder="Search" aria-label=".form-control">    
        </div>
      </div> 
    </ul>
  </div>
  <div class="row pt-lg-5 pt-md-3 justify-content-center">
    <ng-container *ngIf="(collectionSize$ | async)">
        <ngb-pagination [collectionSize]="(collectionSize$ | async) || 0"
        (pageChange)="onPageChange($event)"
        [maxSize]="7"
        [(page)]="pageNum" aria-label="Default pagination">
      </ngb-pagination>
    </ng-container>
  </div>
</div>