<div class="container">
  <div class="row pt-md-3 content-area">
    <div class="col-lg-9 col-md-8 px-0">
      <app-media-list
        [articles]="articles"
        (openArticleModal)="openArticleModal($event)"
      >
      </app-media-list>
    </div>
    <div id="content-sidebar" class="col-lg-3 col-md-4">
      <div class="d-block">
        <app-search (search)="onSearch($event)"> </app-search>
        <app-tags (openArticleModal)="openArticleModal($event)"> </app-tags>
      </div>
    </div>
  </div>
  <ng-container *ngIf="articles">
    <div class="row pt-lg-5 pt-md-3 justify-content-center">
      <ngb-pagination
        [collectionSize]="articles.pagy.count"
        (pageChange)="onPageChange($event)"
        [maxSize]="7"
        [(page)]="pageNum"
        aria-label="Default pagination"
      >
      </ngb-pagination>
    </div>
  </ng-container>
</div>
<app-add-update-article-modal
  (addArticle)="addArticle($event)"
  (updateArticle)="updateArticle($event)"
>
</app-add-update-article-modal>
